<div class="main">
    <div class="tagline">
        <h1>A <span id="decorate1">List</span> for <span id="decorate2">All</span> your<br>
        <span id="decorate3">To-Do's.</span></h1>
    </div>
    <div>
          <button type="button" id="scroll" class="btn btn-primary btn-lg">Get Started</button>
    </div>
  </div>

  <div class="content">
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis">The fastest way to get tasks out of your head.</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Choose between your weekly goals and long term goals</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/weekly" ><button type="button" class="btn btn-outline-success btn-lg px-4 gap-3">Weekly</button></a>
          <a href="/long"><button type="button" class="btn btn-outline-success btn-lg px-4">Long Term</button></a>
        </div>
      </div>
    </div>
  </div>