<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="styles/style.css" rel="stylesheet">
    <title>DoYourList</title>
</head>
<body>
    <!-- <img src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2051%2051%22%3E%3Cpath%20fill%3D%22%23CBD2E8%22%20d%3D%22M5.94%203.023h.124c-.042%200-.083%200-.124.01v-.01z%22%2F%3E%3Cpath%20fill%3D%22%23CBD2E8%22%20d%3D%22M43.756%206.669v41.299H13.409a3.775%203.775%200%200%201-3.776-3.776v-37.6a3.565%203.565%200%200%200-3.57-3.569H40.11a3.646%203.646%200%200%201%203.646%203.646z%22%2F%3E%3Cpath%20d%3D%22M13.893%2045.394a3.759%203.759%200%200%201-3.727-3.299h-.532v2.095a3.771%203.771%200%200%200%203.776%203.776h30.347v-2.572H13.893z%22%20opacity%3D%22.1%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M43.757%206.673v3.025a3.65%203.65%200%200%200-3.652-3.642H9.593A3.568%203.568%200%200%200%206.065%203.02h34.04a3.653%203.653%200%200%201%203.652%203.652z%22%20opacity%3D%22.4%22%2F%3E%3Cpath%20fill%3D%22%239BAAC6%22%20d%3D%22M2.5%206.59v3.978h7.133V6.59a3.567%203.567%200%200%200-7.134%200z%22%2F%3E%3Cpath%20d%3D%22M9.634%206.59v3.982H7.176V6.591A3.54%203.54%200%200%200%204.84%203.248c.38-.155.792-.227%201.224-.227a3.565%203.565%200%200%201%203.57%203.57z%22%20opacity%3D%22.1%22%2F%3E%3Cpath%20fill%3D%22%239BAAC6%22%20d%3D%22M48.498%2042.855v1.595c0%201.944-1.666%203.518-3.724%203.518H13.203c.987%200%201.882-.401%202.53-1.04a3.603%203.603%200%200%200%201.04-2.53v-1.543h31.725z%22%2F%3E%3Cpath%20d%3D%22M48.5%2042.853v1.595c0%201.944-1.667%203.518-3.725%203.518H13.204c.988%200%201.882-.401%202.53-1.04.268-.267.484-.575.649-.915H43.5c1.923%200%203.518-1.378%203.703-3.158h1.296z%22%20opacity%3D%22.1%22%2F%3E%3Cpath%20fill%3D%22%23E37679%22%20d%3D%22M23.495%208.526v5.539c0%20.722-.586%201.308-1.308%201.308h-5.539a1.308%201.308%200%200%201-1.308-1.308v-5.54c0-.722.586-1.307%201.308-1.307h5.539c.722%200%201.308.585%201.308%201.308z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M23.491%208.525v2.13c0-.72-.586-1.307-1.306-1.307H16.65c-.72%200-1.306.586-1.306%201.306v-2.13c0-.72.586-1.306%201.306-1.306h5.535c.72%200%201.306.587%201.306%201.307z%22%20opacity%3D%22.4%22%2F%3E%3Cpath%20d%3D%22M15.344%2014.066v-2.13c0%20.721.586%201.307%201.306%201.307h5.535c.72%200%201.306-.586%201.306-1.306v2.13c0%20.72-.586%201.306-1.306%201.306H16.65c-.72%200-1.306-.587-1.306-1.307z%22%20opacity%3D%22.1%22%2F%3E%3Cpath%20fill%3D%22%238CD5FF%22%20d%3D%22M23.495%2020.153v5.538c0%20.723-.586%201.308-1.308%201.308h-5.539a1.308%201.308%200%200%201-1.308-1.308v-5.538c0-.723.586-1.309%201.308-1.309h5.539c.722%200%201.308.586%201.308%201.309z%22%2F%3E%3Cpath%20fill%3D%22%23AFF09E%22%20d%3D%22M23.495%2031.78v5.538c0%20.722-.586%201.308-1.308%201.308h-5.539a1.308%201.308%200%200%201-1.308-1.308v-5.539c0-.722.586-1.308%201.308-1.308h5.539c.722%200%201.308.586%201.308%201.308z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M23.491%2020.151v2.13c0-.72-.586-1.307-1.306-1.307H16.65c-.72%200-1.306.587-1.306%201.307v-2.13c0-.72.586-1.306%201.306-1.306h5.535c.72%200%201.306.586%201.306%201.306z%22%20opacity%3D%22.4%22%2F%3E%3Cpath%20d%3D%22M15.344%2025.693v-2.13c0%20.72.586%201.307%201.306%201.307h5.535c.72%200%201.306-.587%201.306-1.307v2.13c0%20.72-.586%201.306-1.306%201.306H16.65c-.72%200-1.306-.586-1.306-1.306z%22%20opacity%3D%22.1%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M23.491%2031.778v2.13c0-.72-.586-1.307-1.306-1.307H16.65c-.72%200-1.306.586-1.306%201.306v-2.13c0-.72.586-1.306%201.306-1.306h5.535c.72%200%201.306.587%201.306%201.307z%22%20opacity%3D%22.4%22%2F%3E%3Cpath%20d%3D%22M15.344%2037.32v-2.13c0%20.72.586%201.306%201.306%201.306h5.535c.72%200%201.306-.586%201.306-1.306v2.13c0%20.72-.586%201.306-1.306%201.306H16.65c-.72%200-1.306-.587-1.306-1.307z%22%20opacity%3D%22.1%22%2F%3E%3Cpath%20fill%3D%22%23293B66%22%20d%3D%22M48.5%2041.858h-3.74V6.668c0-2.56-2.09-4.64-4.65-4.64H6.05a4.569%204.569%200%200%200-4.55%204.56v3.98c0%20.55.45%201%201%201h6.13v32.62c0%202.5%201.93%204.55%204.37%204.76.02%200%20.04.01.06.01.1.025-1.007.01%2031.71.01%202.61%200%204.73-2.03%204.73-4.52v-1.59c0-.56-.45-1-1-1zm-45-32.29v-2.98c0-1.41%201.14-2.55%202.56-2.56h.01c1.41%200%202.56%201.15%202.56%202.56v2.98H3.5zm7.13%2034.62v-37.6c0-.971-.301-1.834-.79-2.56h30.27c1.46%200%202.65%201.18%202.65%202.64v35.19H16.77c-.55%200-1%20.44-1%201v1.54c0%201.435-1.102%202.507-2.47%202.57a2.792%202.792%200%200%201-2.67-2.78zm36.87.26c0%201.39-1.22%202.52-2.73%202.52H16.99c.51-.75.78-1.64.78-2.57v-.54H47.5v.59z%22%2F%3E%3Cpath%20fill%3D%22%23293B66%22%20d%3D%22M16.65%2016.368h5.54c1.27%200%202.31-1.03%202.31-2.3v-5.54c0-1.28-1.04-2.31-2.31-2.31h-5.54c-1.27%200-2.31%201.03-2.31%202.31v5.54c0%201.27%201.04%202.3%202.31%202.3zm-.31-7.84c0-.17.14-.31.31-.31h5.54c.17%200%20.31.14.31.31v5.54c0%20.17-.14.3-.31.3h-5.54c-.17%200-.31-.13-.31-.3v-5.54zM27.577%209.74h11.817a1%201%200%201%200%200-2H27.577a1%201%200%201%200%200%202zm0%203.918h5.91a1%201%200%201%200%200-2h-5.91a1%201%200%201%200%200%202zm11.817%206.304H27.577a1%201%200%201%200%200%202h11.817a1%201%200%201%200%200-2zM27.577%2025.88h5.91a1%201%200%201%200%200-2h-5.91a1%201%200%201%200%200%202zm11.817%205.709H27.577a1%201%200%201%200%200%202h11.817a1%201%200%201%200%200-2zm-5.908%203.918h-5.909a1%201%200%201%200%200%202h5.91a1%201%200%201%200%200-2zm-16.836-7.51h5.54c1.27%200%202.31-1.03%202.31-2.31v-5.54c0-1.27-1.04-2.3-2.31-2.3h-5.54c-1.27%200-2.31%201.03-2.31%202.3v5.54c0%201.28%201.04%202.31%202.31%202.31zm-.31-7.85c0-.17.14-.3.31-.3h5.54c.17%200%20.31.13.31.3v5.54c0%20.17-.14.31-.31.31h-5.54c-.17%200-.31-.14-.31-.31v-5.54zm.31%2019.48h5.54c1.27%200%202.31-1.04%202.31-2.31v-5.54c0-1.27-1.04-2.31-2.31-2.31h-5.54c-1.27%200-2.31%201.04-2.31%202.31v5.54c0%201.27%201.04%202.31%202.31%202.31zm-.31-7.85c0-.17.14-.31.31-.31h5.54c.17%200%20.31.14.31.31v5.54c0%20.17-.14.31-.31.31h-5.54c-.17%200-.31-.14-.31-.31v-5.54z%22%2F%3E%3C%2Fsvg%3E" alt="Task List Checklist List Icon" 
    loading="lazy" class="icon_BjQb2" height="50px" width="50px"> -->
    <!--Header-->
    <div class="starter">
      <nav class="py-2 border-bottom">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item"><a class="nav-link link-body-emphasis px-2 active" aria-current="page"
                data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                Home
            </a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">About</a></li>
          </ul>
          <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Sign up</a></li>
          </ul>
        </div>
      </nav>
    </div>
      <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
          <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <img src="/images/list_992.png" alt="website-logo">
            <span class="fs-4">DoYourList</span>
          </a>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          </form>
        </div>
      </header>
      <!--Offcanvas-->
      
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Home</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div>
            Long-term goals are great to have. 
            However, it can be difficult to get these great, big lengthy goals done — unless you divide them into smaller tasks.
          </div>
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
              Select List
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/weekly">Weekly Goals</a></li>
              <li><a class="dropdown-item" href="/long">Long term Goals</a></li>
            </ul>
          </div>
        </div>
      </div>
