<div class="weekly-list"> 
  <div><h1>Weekly TODOs</h1></div> 
  <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
      
      <% if(locals.tasks){ %>
        <% for(var i=0;i<tasks.length;i++){ %>
          <label class="list-group-item d-flex gap-3">
            <input class="form-check-input flex-shrink-0" name="chk" type="checkbox" value=<%=i%> style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content" value=<%=i%>>
              <strong><%=tasks[i]  %></strong>
            </span>
          </label>
        <% }} %>
      <label class="list-group-item d-flex gap-3 bg-body-tertiary">
        <input class="form-check-input form-check-input-placeholder bg-body-tertiary flex-shrink-0 pe-none" disabled="" type="checkbox" value="" style="font-size: 1.375em;">
        <form action="/submit-1" method="POST">
          <input type="text" id="add_task" name="add_task" placeholder="Add a task">
        </form>
      </label>
    </div>
  </div>
</div>